  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">NEWSIES</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved News Articles</a></li>
      </ul>
    </div>
    
  </nav>
<div class="jumbotron text-center">
<h1>News Scraper</h1>
<p>NYT</p>
<a class="btn btn-danger scrape-new">Scrape New Articles</a>
</div>

<div class="container-fluid article-container">


</div>


<footer>
    <p>NYT News Scraper</p>
</footer>

<script src="../../assets.javascript/index.js"></script>

